## This Notebook explores the use of Camelot-py to read PDF files and extract tables to data frames

### First we will import Pandas and Camelot

In [1]:
import pandas as pd

In [2]:
import camelot

#### This is an example set of code from the Camelot creators to read in a PDF called foo.pdf

#### First we are creating a variable called tables that will contain the list of tables in the foo.pdf

In [3]:
tables = camelot.read_pdf('./resources/foo.pdf')

In [4]:
tables

### Next we are exporting the table list to a .csv file ....but we could export to json, excel, or html as well...

In [5]:
tables.export('foo.csv', f='csv', compress=True) #json, excel, html

In [6]:
tables[0].parsing_report

{'accuracy': 99.02, 'whitespace': 12.24, 'order': 1, 'page': 1}

In [7]:
tables[0].to_csv('foo.csv') # to json, to_excel, to_html

### We can also explore the tables as a dataframe in python

In [8]:
tables[0].df

,0,1,2,3,4,5,6
0,Cycle \nName,KI \n(1/km),Distance \n(mi),Percent Fuel Savings,,,
1,,,,Improved \nSpeed,Decreased \nAccel,Eliminate \nStops,Decreased \nIdle
2,2012_2,3.30,1.3,5.9%,9.5%,29.2%,17.4%
3,2145_1,0.68,11.2,2.4%,0.1%,9.5%,2.7%
4,4234_1,0.59,58.7,8.5%,1.3%,8.5%,3.3%
5,2032_2,0.17,57.8,21.7%,0.3%,2.7%,1.2%
6,4171_1,0.07,173.9,58.1%,1.6%,2.1%,0.5%

# We are now ready to try this method with a 260 page PDF for BAIS 2013 data

### First we will read in the pages of the BAIS 2013 PDF that contain tables and store in a table list called tables2

In [9]:
tables2 = camelot.read_pdf('./resources/BAIS2013.pdf', flavor='stream', pages='34, 36, 38, 40, 46, 48, 49, 50-260', flag_size=True)
tables2[0].df

UserWarning: No tables found in table area 1 [stream.py:361]

                                                   0
0                      CHAPTER FIVE: BAIS IV RESULTS
1                              Survey Response Rates
2  The fourth Botswana AIDS Impact Survey (BAIS I...
3  Data  collection  started  on  the  21  Januar...
4  collection was done using smart phone tablets ...
5  The survey estimated Botswana population at 2,...
6  projection estimates of 2,101,715. This provid...
7            Table 1: Population Estimates 2011-2013

In [21]:
tables2

### Next -- we will export our tables2 table list to a set of  .csv files

In [22]:
tables2.export('BAIS2013_all.csv', f='csv', compress=True) #json, excel, html

In [23]:
tables2[0].parsing_report

{'accuracy': 100.0, 'whitespace': 0.0, 'order': 1, 'page': 34}

### We can explore the tables we have scraped using the index of our page list

In [11]:
tables2[1].df

,0,1,2,3
0,questions. The data also showed that 73.4% of ...,,,
1,testing. Hence the information provided in the...,,,
2,rates. Among those who provided samples for H...,,,
3,,Table 2: Un-weighted data of sampled populatio...,,
4,population and response rate,,,
5,,Sampled,Responded,Response
6,Target Population,Population,Population,Rate (%)
7,Individuals (10-64years),"9,807","8,231",83.9
8,DBS (6weeks and above),"13,808","10,140",73.4
9,Tested and want HIV results,"10,140","8,070",79.6

In [12]:
tables2[2].df

,0,1,2,3,4,5,6,7
0,Target Population,,Population,,Population,Rate (%),,
1,,Individuals (10-64years),"9,807",,"8,231",83.9,,
2,,DBS (6weeks and above),"13,808",,"10,140",73.4,,
3,,Tested and want HIV results,"10,140",,"8,070",79.6,,
4,,,,Urban,,,Rural,Total
5,,,,,Urban,,,
6,Households and Persons Enumerated,,Cities,Towns,Villages,All,,
7,Enumeration Areas in Sample,,,,,,,
8,,Sampled,462,1186,1085,2733,1791,4524
9,,Completed,416,1127,995,2538,1663,4201
10,Number of Households,Response rate (%),90,95,91.7,92.9,92.9,92.9
11,Persons Enumerated,,,,,,,
12,,Total Eligible,1063,2630,2493,6186,3621,9807
13,Persons aged 10-64 years eligible for,,,,,,,
14,,Completed,817,2224,2123,5164,3067,8231
15,individual questionnaire,,,,,,,
16,,Response Rate (%),76.9,84.6,85.2,83.5,84.7,83.9
17,,Total Eligible,1339,3361,3486,8186,5622,13808
18,,Provided Blood Specimen for HIV,,,,,,
19,,Testing – Provided,952,2472,2453,5877,4263,10140
20,Persons aged 6 weeks and above eligible for,,,,,,,
21,HIV Testing,,,,,,,
22,,HIV Testing Participation Rate (%),71.1,73.6,70.4,71.8,75.8,73.4
23,,Proportion tested and wanting to,,,,,,
24,,know test Results (%),78.9,77.3,82.6,81.20%,86.4,79.6